@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 226 232 240;
  --background: 2 6 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
